body {
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header, .footer{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color:rgb(243, 243, 225);
    align-items: center;
    height: 60px;
}

.container{
    flex:1;
    display: flex;
    flex-direction: column;
}

.session1{
    background-color: #1F2937;
    color: rgb(243, 243, 225);
    flex:1;
}

.session2{
    display: flex;
    flex: 1;
}

.session3{
    background-color: #E5E7EB;
    flex: 1;
}

.session4{
    display: flex;
    flex: 1;
}

.header-logo{
    font-size: 32px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: bisque;
}