body {
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color:rgb(243, 243, 225);
    align-items: center;
    height: 60px;
}

.header-logo{
    font-size: 32px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: bisque;
}